.search-container {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 0px;
  mat-form-field {
    width: 300px;
  }
}

.mapping-found-messages {
  padding: 0px 40px 40px;
  width: 300px;
}
